body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 700;
}

button {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 700;
}

input {
  font-family: 'Poppins', sans-serif;
}
